/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  height: calc(100% - 2 * 94px);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: scroll;
}

.backdrop--is-hidden .modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.big-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  border-radius: 22px;
}

.little-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.wrapper-hero-header {
  min-height: 400px;
  background-color: #ffb8ca;
  background-image: url(../images/icecream-mobile.png), url(../images/circle-mobile1.png);
  background-size: 171px 410px, 346px 346px;
  background-position: right 32px bottom, right -62px bottom 75px;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (min-width: 768px) {
  .wrapper-hero-header {
    background-image: url(../images/hero-girl.png), url(../images/hero-milk.png), url(../images/icecream-mobile.png), url(../images/circle-mobile1.png);
    background-size: 168px 133px, 124px 126px, 143px 336px, 324px 324px;
    background-position: 566px 266px, 34px 245px, 378px 63px, 307px 31px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-hero-header {
    background-image: url(../images/hero-girl.png), url(../images/hero-milk.png), url(../images/icecream-mobile.png), url(../images/circle-mobile1.png);
    background-size: 293px 232px, 188px 191px, 236px 557px, 538px 538px;
    background-position: 878px 433px, 77px 429px, 594px 108px, 475px 52px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

.page-header {
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 37px;
  }
}

@media screen and (max-width: 1199px) {
  .page-header__nav {
    display: none;
  }
}

.menu-icon {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    margin-right: 20px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  background-color: #e17992;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__button-open,
.mobile-menu__button-close {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-menu__button-close {
  margin-left: auto;
  margin-bottom: 23px;
}

.mobile-menu__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.mobile-menu__link--current {
  color: #d41443;
}

.mobile-menu__button-buy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 209px;
  min-height: 44px;
  border: none;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #d41443;
}

.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  padding-left: 20px;
}

.mobile-menu__item:nth-of-type(odd) {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.buy-btn {
  width: 160px;
  height: 44px;
  border: none;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .buy-btn {
    display: none;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 46px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__item {
  margin-right: 35px;
}

.page-header__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
}

.page-header__link--current {
  color: #d41443;
}

.section-hero {
  position: relative;
  padding-top: 137px;
  padding-bottom: 140px;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 10px;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 84px;
    padding-bottom: 56px;
  }
}

.main-title {
  width: 220px;
  margin-bottom: 19px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .main-title {
    width: 162px;
    font-size: 22px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    width: 277px;
    font-size: 38px;
    line-height: 44px;
  }
}

.main-title__accent {
  font-size: 48px;
  line-height: 96.5%;
  /* or 46px */
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .main-title__accent {
    font-size: 34px;
    line-height: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title__accent {
    font-size: 58px;
    line-height: 90%;
  }
}

.section-hero__btn {
  margin-right: 8px;
  min-width: 62.4px;
  min-height: 24px;
  padding: 7px 13px;
  border: none;
  background-color: transparent;
  background: #d41443;
  border-radius: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .section-hero__btn {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__btn {
    margin-bottom: 112px;
    min-width: 104px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}

.section-hero__btn--color {
  background-color: #ffffff;
  color: #d41443;
}

.section-hero__text {
  margin-bottom: 7px;
  width: 114px;
  margin-left: 120px;
  font-weight: normal;
  font-size: 8px;
  line-height: 150%;
  /* or 20px */
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .section-hero__text {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__text {
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
    line-height: 140%;
  }
}

.section-hero__little-btn {
  display: block;
  margin-left: 120px;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 767px) {
  .section-hero__little-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__little-btn {
    width: 26px;
    height: 26px;
  }
}

.cafe-list {
  position: absolute;
  top: 10px;
  right: 34px;
}

@media screen and (max-width: 767px) {
  .cafe-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cafe-list {
    top: 77px;
    right: 120px;
  }
}

.cafe-list__item {
  margin-bottom: 13px;
  position: relative;
  width: 50px;
  text-align: right;
}

.cafe-list__item::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -5px;
  width: 16px;
  height: 16px;
  background-image: url(../images/white-circle.svg);
  background-repeat: no-repeat;
}

.cafe-list__counter {
  display: block;
  margin-bottom: 3px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  /* identical to box height */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.cafe-list__name {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: #ffffff;
}

.section-products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 1200px) {
  .section-products {
    margin-bottom: 120px;
  }
}

.pre-title {
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 1200px) {
  .pre-title {
    font-size: 30px;
  }
}

.title {
  margin-bottom: 157px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products-list__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  position: relative;
  min-height: 485px;
  padding-top: 161px;
  padding-bottom: 41px;
  background-color: #ffb8ca;
  border-radius: 24px;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .products-list__item {
    width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__item {
    width: 300px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.products-list__item:nth-of-type(2) {
  background-color: #f0d1a5;
}

.products-list__item:nth-of-type(3) {
  background-color: #c2e297;
}

.products-list__item::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 249px;
  height: 252px;
}

.products-list__item:nth-of-type(1):before {
  background-image: url(../images/products1-mobile.png);
}

.products-list__item:nth-of-type(2):before {
  background-image: url(../images/products2-mobile.png);
}

.products-list__item:nth-of-type(3):before {
  background-image: url(../images/products3-mobile.png);
}

.products-list__title {
  position: relative;
  margin-bottom: 66px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-list__title::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 26px;
  height: 6px;
  background-image: url(../images/threepoints.png);
}

@media screen and (min-width: 1200px) {
  .products-list__title {
    font-size: 30px;
  }
}

.products-list__text {
  width: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .products-list__text {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.products-list__btn {
  display: block;
  border: none;
  background-color: transparent;
  margin: auto;
}

.section-about {
  padding-top: 125px;
  padding-bottom: 19px;
  background-color: #fff5f6;
  background-image: url(../images/about-bg-mobile.png), url(../images/cow-mobile-x1.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 280px 280px;
  background-position: right 0 bottom 70px, top 263px left 0;
}

@media screen and (min-width: 768px) {
  .section-about {
    background-image: url(../images/cow-tablet-x1.png);
    background-repeat: no-repeat;
    background-size: 340px 340px;
    background-position: top 281px left 0;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about {
    min-height: 850px;
    background-image: url(../images/about-bg-desktop.png), url(../images/cow-desktop-x1.png);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 516px 516px;
    background-position: right 0 bottom 70px, top 300px left 0;
  }
}

.section-about__title {
  margin-bottom: 351px;
}

@media screen and (min-width: 768px) {
  .section-about__title {
    margin-bottom: 100px;
  }
}

.section-about__img {
  margin-bottom: 46px;
}

.section-about__bold-text {
  margin-bottom: 47px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #000000;
}

@media screen and (min-width: 768px) {
  .section-about__bold-text {
    margin-left: 360px;
    width: 340px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about__bold-text {
    margin-left: 500px;
    width: 460px;
    font-size: 16px;
  }
}

.section-about__text {
  width: 220px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .section-about__text {
    margin-left: 360px;
    margin-bottom: 62px;
    width: 340px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about__text {
    margin-left: 500px;
    margin-bottom: 62px;
    width: 460px;
    font-size: 16px;
  }
}

.section-about__btn {
  height: 44px;
  padding: 10px 37px;
  border: none;
  background-color: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .section-about__btn {
    margin-left: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about__btn {
    margin-left: 500px;
  }
}

.section-advantages {
  padding-bottom: 48px;
  padding-top: 85px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages-list__counter {
  margin-bottom: 20px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantages-list__counter {
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__counter {
    font-size: 58px;
    margin-bottom: 40px;
  }
}

.advantages-list__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
  }
}

.advantages-list__item {
  position: relative;
  margin-bottom: 104px;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: 180px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: 300px;
  }
}

.advantages-list__item::before {
  content: '';
  position: absolute;
  top: -66px;
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .advantages-list__item::before {
    top: -90px;
  }
}

.advantages-list__item:nth-of-type(1):before {
  background-image: url(../images/advantages-icon1.png);
}

.advantages-list__item:nth-of-type(2):before {
  width: 50px;
  background-image: url(../images/advantages-icon2.png);
}

.advantages-list__item:nth-of-type(3):before {
  width: 50px;
  background-image: url(../images/advantages-icon3.png);
}

.section-gallery {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(37%, #fff5f6), color-stop(37%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 37%, #ffffff 37%);
}

@media screen and (min-width: 768px) {
  .section-gallery {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.section-gallery__container {
  padding-left: 0;
}

@media screen and (min-width: 340px) {
  .section-gallery__container {
    padding-left: 15px;
  }
}

@media screen and (min-width: 340px) {
  .section-gallery__container {
    padding-left: 30px;
  }
}

@media screen and (min-width: 400px) {
  .section-gallery__container {
    padding-left: 60px;
  }
}

.wrapper-container {
  position: relative;
  height: 122px;
}

@media screen and (min-width: 768px) {
  .wrapper-container {
    height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-container {
    height: 430px;
  }
}

.section-gallery__wrapper {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  background-color: white;
}

.section-gallery__wrapper:hover, .section-gallery__wrapper:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper {
    width: calc(80px * 1.6);
    height: calc(80px * 1.6);
  }
}

.section-gallery__wrapper--img1 {
  position: absolute;
  top: 40px;
  left: 20px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img1 {
    top: 80px;
    left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img1 {
    top: calc((40px * 2) * 1.6);
    left: calc((20px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img2 {
  position: absolute;
  top: 20px;
  left: 63px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img2 {
    top: 40px;
    left: 126px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img2 {
    top: calc((20px * 2) * 1.6);
    left: calc((63px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img3 {
  position: absolute;
  top: 63px;
  left: 63px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img3 {
    top: 126px;
    left: 126px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img3 {
    top: calc((63px * 2) * 1.6);
    left: calc((63px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img4 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 106px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img4 {
    width: 160px;
    height: 160px;
    top: 0px;
    left: 212px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img4 {
    width: 256px;
    height: 256px;
    top: calc((0px * 2) * 1.6);
    left: calc((106px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img5 {
  position: absolute;
  top: 83px;
  left: 106px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img5 {
    top: 166px;
    left: 212px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img5 {
    top: calc((83px * 2) * 1.6);
    left: calc((106px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img6 {
  position: absolute;
  top: 23px;
  left: 189px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img6 {
    top: 46px;
    left: 378px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img6 {
    top: calc((23px * 2) * 1.6);
    left: calc((189px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img7 {
  position: absolute;
  top: 66px;
  left: 189px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img7 {
    top: 132px;
    left: 378px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img7 {
    top: calc((66px * 2) * 1.6);
    left: calc((189px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img8 {
  position: absolute;
  top: 10px;
  left: 232px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img8 {
    top: 20px;
    left: 464px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img8 {
    top: calc((10px * 2) * 1.6);
    left: calc((232px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img9 {
  position: absolute;
  top: 53px;
  left: 232px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img9 {
    top: 106px;
    left: 464px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img9 {
    top: calc((53px * 2) * 1.6);
    left: calc((232px * 2) * 1.6);
  }
}

.section-gallery__wrapper--img10 {
  position: absolute;
  top: 40px;
  left: 275px;
}

@media screen and (min-width: 768px) {
  .section-gallery__wrapper--img10 {
    top: 80px;
    left: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .section-gallery__wrapper--img10 {
    top: calc((40px * 2) * 1.6);
    left: calc((275px * 2) * 1.6);
  }
}

.section-contacts {
  padding-top: 86px;
  padding-bottom: 56px;
  background-color: #fff5f6;
}

.contacts-list__item {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list__item:last-child {
  margin-bottom: 54px;
}

.contacts-list__item:nth-child(odd) > .contacts-list__title {
  background: #f0d1a5;
}

.contacts-list__item:nth-child(even) > .contacts-list__title {
  background: #c2e297;
}

.contacts-list__title {
  display: inline-block;
  min-width: 80px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.contacts-list__city {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts-list__text {
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #907e82;
}

.contacts-list_working-hours {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-list__text-day {
  margin: 0;
  line-height: 186%;
  /* or 22px */
  color: #000000;
}

.contacts-list__text-time {
  margin-bottom: 10px;
  color: #ffa5ba;
}

.contacts-list__tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #907e82;
}

.contacts-list_mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #907e82;
}

.sections-contacts__btn {
  display: block;
  margin-bottom: 10px;
  border: none;
  width: 160px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  background-color: #d41342;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.sections-contacts__btn--color {
  color: #d41342;
  background-color: #ffffff;
}

.page-footer {
  padding-top: 56px;
  padding-bottom: 25px;
}

.page-footer__pre-title {
  width: 230px;
  text-align: left;
  margin-bottom: 43px;
}

.footer-title__accent {
  display: inline-block;
  margin-top: 17px;
  font-size: 34px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.socials-list__item:not(:last-child) {
  margin-right: 19px;
}

.page-footer__tel {
  margin-bottom: 43px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: right;
  color: #000000;
}

.page-footer__link-tel {
  color: #d41443;
}

.copyright {
  width: 150px;
  margin: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #907e82;
}

.copyright-container {
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
}

.section-reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.wrapper-text {
  width: 180px;
  margin: auto;
  text-align: center;
  margin-bottom: 72px;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 38px, #e1e1e1 40px);
}

.section-reviews__text {
  position: relative;
  width: 157px;
  margin: auto;
  margin-bottom: 72px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  /* or 31px */
  text-align: center;
  color: #000000;
  line-height: 40px;
}

.section-reviews__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 54px;
  height: 40px;
  z-index: -1;
  background-image: url(../images/reviews-skobki.png);
}

.section-reviews__after-text {
  position: relative;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  /* or 26px */
  text-align: center;
  color: #000000;
}

.section-reviews__after-text::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews-3points.svg);
}
/*# sourceMappingURL=main.css.map */