.section-reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
// .wrapper-text {
//   width: 157px;
//   margin: auto;
//   text-align: center;
//   margin-bottom: 72px;
// }
.section-reviews__text {
  position: relative;
  // display: inline;
  width: 157px;
  margin: auto;
  margin-bottom: 72px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  /* or 31px */

  text-align: center;

  color: #000000;
  line-height: 20px;
  // color: #333;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 19px,
    #333 20px
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 54px;
    height: 40px;
    z-index: -1;

    background-image: url(../images/reviews-skobki.png);
  }
}
.section-reviews__after-text {
  position: relative;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  /* or 26px */

  text-align: center;

  color: #000000;
  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 4px;

    background-image: url(../images/reviews-3points.svg);
  }
}
